<h1> Olá, gênio! </h1>
<p>
  Seja bem-vindo ao nosso cantinho da ciência, o Genius!<br/>
  É um prazer ter você por aqui, {{user.name}}. Esperamos do fundo do coração que ame a nossa aplicação
  e consiga espalhar conhecimento.
</p>