@font-face {
    font-family: "Gotham Bold";
    src: url("./fonts/gotham-bold.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Gotham Bold";
    scroll-behavior: smooth;
    color: #EEE5D6;

}

a:link {
    text-decoration: none;
}

body {
    background-color: black;
}

p {
    text-align: justify;
}

/*Página de sobre*/

button {
    margin-top: 10px;
    width: 50vw;
    font-size: 15px;
    color: #EEE5D6;
    outline: none;
    display: inline-block;
    background-color: transparent;
    border: 2px solid #EEE5D6;
    padding: 15px;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 2s, color 0.25s, background-color 0.25s;
}

button#b2 {
    transition: opacity 4s, color 0.25s, background-color 0.25s;
}

button#b3 {
    transition: opacity 6s, color 0.25s, background-color 0.25s;
}

button:hover, button#b2:hover, button#b3:hover {
    color: black;
    background-color: #EEE5D6;
}

h2 {
    padding: 10px;
    text-align: center;
}

.options {
    text-align: center;
}

/*Alinhando verticalmente a div*/

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

/*Página sobre*/

p#sobre {
    font-size: 20px;
    padding: 50px;
}

h2#sobre-title {
    margin: -20px;
}

/*Efeito de fade*/
.mostrar {
    opacity: 1;
}

/*Página de classes*/
.doc {
    padding: 20px;     
}

.doc h2 {
    text-align: start;
    padding: 0 0 10px 0;
}

div + div h2 {
    margin-top: 20px;
}

.glow {
    transition: 0.25s;
}

.glow:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #EEE5D6, 0 0 40px #EEE5D6, 0 0 50px #EEE5D6, 0 0 60px #EEE5D6, 0 0 70px #EEE5D6;
}

ul {
    margin-top: 10px;
    margin-left: 30px;
}

div.divisao-um, div.divisao-dois {
    width: 46vw;
    display: inline-block;
    vertical-align: top;
}

div.classes-frontend, div.classes-backend {
    margin-bottom: 10px;
}

div.descricao-classes div h3 {
    margin-bottom: 10px;
}

div h2 {
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 5px solid #EEE5D6;
}